@font-face {
    font-family: gilroy-regular;
    src: url('../gilroy/Gilroy-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html , body{
    height: 100%;
    width: 100%;
}



#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8.5vh;
    width: 100vw;
    padding: 0px 20px;
    font-family: monument;
}

#nav #right{
    display: flex;
    gap: 50px;
    align-items: center;
    height: 100%;
}

#nav h3{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
}

#main h1{
    font-size: 9vw;
    font-family: gilroy-regular;
    font-weight: 400;
    text-transform: uppercase  ;
    line-height: 100px;
    width: 80%;
    /* background-color: red; */
    margin-left: 10%;
    position: relative;
    z-index: 1;
}

#main h1:nth-child(2){
    margin-top: 160px;
} 

#main h1:nth-child(3){
    text-align: center;
}

#main h1:nth-child(4){
    text-align: end;
}
img{
    height: 400px;
    position: absolute;
    top: 13%;
    left: 40%;
    border-radius: 5px;
}

#second{
    rotate: 15deg;
}

#fourth{
    rotate: 7deg;
}

#footer{
    margin-top: 200px;
    display: flex;
    align-items: center;
    gap: 30%;
    height: 3vh;
    margin-left: 1%;
    
}

#footer h3{
    font-family: gilroy;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

#footer span{
    margin-left: 25px;
}